<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Mbiz_OptionSystemCode for Magento.
 *
 * @license MIT
 * @author Jacques Bodin-Hullin <j.bodinhullin@monsieurbiz.com> <@jacquesbh>
 * @category Mbiz
 * @package Mbiz_OptionSystemCode
 * @copyright Copyright (c) 2016 Monsieur Biz (https://monsieurbiz.com/)
 */
-->
<config>
    <modules>
        <Mbiz_OptionSystemCode>
            <version>0.1.0</version>
            <depends>
                <Mage_Catalog />
            </depends>
        </Mbiz_OptionSystemCode>
    </modules>
    <global>
        <blocks>
            <mbiz_optionsystemcode>
                <class>Mbiz_OptionSystemCode_Block</class>
            </mbiz_optionsystemcode>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Mbiz_OptionSystemCode_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <mbiz_optionsystemcode_setup>
                <setup>
                    <module>Mbiz_OptionSystemCode</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mbiz_optionsystemcode_setup>
        </resources>
        <helpers>
            <mbiz_optionsystemcode>
                <class>Mbiz_OptionSystemCode_Helper</class>
            </mbiz_optionsystemcode>
            <catalog>
                <rewrite>
                    <product_configuration>Mbiz_OptionSystemCode_Helper_Product_Configuration</product_configuration>
                </rewrite>
            </catalog>
        </helpers>
        <catalog>
            <product>
                <type>
                    <simple>
                        <model>mbiz_optionsystemcode/catalog_product_type_simple</model>
                    </simple>
                    <grouped>
                        <model>mbiz_optionsystemcode/catalog_product_type_grouped</model>
                    </grouped>
                    <configurable>
                        <model>mbiz_optionsystemcode/catalog_product_type_configurable</model>
                    </configurable>
                    <virtual>
                        <model>mbiz_optionsystemcode/catalog_product_type_virtual</model>
                    </virtual>
                </type>
            </product>
        </catalog>
        <models>
            <mbiz_optionsystemcode>
                <class>Mbiz_OptionSystemCode_Model</class>
            </mbiz_optionsystemcode>
        </models>
    </global>
</config>
